<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginSystem</servlet-name>
        <servlet-class>servlets.LoginSystem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectGenre</servlet-name>
        <servlet-class>servlets.SelectGenre</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayMovie</servlet-name>
        <servlet-class>servlets.DisplayMovie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectActor</servlet-name>
        <servlet-class>servlets.SelectActor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectDirector</servlet-name>
        <servlet-class>servlets.SelectDirector</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RentCopy</servlet-name>
        <servlet-class>servlets.RentCopy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTitlesMovies</servlet-name>
        <servlet-class>servlets.GetTitlesMovies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCopy</servlet-name>
        <servlet-class>servlets.AddCopy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetEmailsUsers</servlet-name>
        <servlet-class>servlets.GetEmailsUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SetUserAsManager</servlet-name>
        <servlet-class>servlets.SetUserAsManager</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetIDsCopiesRented</servlet-name>
        <servlet-class>servlets.GetIDsCopiesRented</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnCopy</servlet-name>
        <servlet-class>servlets.ReturnCopy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterNewUser</servlet-name>
        <servlet-class>servlets.RegisterNewUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayAllRentedCopies</servlet-name>
        <servlet-class>servlets.DisplayAllRentedCopies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddReview</servlet-name>
        <servlet-class>servlets.AddReview</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayAllReviews</servlet-name>
        <servlet-class>servlets.DisplayAllReviews</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdvancedSearch</servlet-name>
        <servlet-class>servlets.AdvancedSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddMovie</servlet-name>
        <servlet-class>servlets.AddMovie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMoviesWithNoPicture</servlet-name>
        <servlet-class>servlets.GetMoviesWithNoPicture</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddPicture</servlet-name>
        <servlet-class>servlets.AddPicture</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginSystem</servlet-name>
        <url-pattern>/LoginSys</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectGenre</servlet-name>
        <url-pattern>/SelectGen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayMovie</servlet-name>
        <url-pattern>/DisplayMov</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectActor</servlet-name>
        <url-pattern>/SelectAct</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectDirector</servlet-name>
        <url-pattern>/SelectDir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RentCopy</servlet-name>
        <url-pattern>/RentCop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTitlesMovies</servlet-name>
        <url-pattern>/GetTitlesMov</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCopy</servlet-name>
        <url-pattern>/AddCop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEmailsUsers</servlet-name>
        <url-pattern>/GetEmailsUse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SetUserAsManager</servlet-name>
        <url-pattern>/SetUserAsMan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetIDsCopiesRented</servlet-name>
        <url-pattern>/GetIDsCopiesRen</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnCopy</servlet-name>
        <url-pattern>/ReturnCop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterNewUser</servlet-name>
        <url-pattern>/RegisterNewUse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayAllRentedCopies</servlet-name>
        <url-pattern>/DisplayAllRentedCop</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddReview</servlet-name>
        <url-pattern>/AddRev</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayAllReviews</servlet-name>
        <url-pattern>/DisplayAllRev</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdvancedSearch</servlet-name>
        <url-pattern>/AdvancedSea</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddMovie</servlet-name>
        <url-pattern>/AddMov</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMoviesWithNoPicture</servlet-name>
        <url-pattern>/GetMoviesWithNoPic</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddPicture</servlet-name>
        <url-pattern>/AddPic</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index2.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
